*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
}

body{
	background-color: white;
}
/* MOBILE MENU */
.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

nav {
    display: flex;
    gap: 20px;
}

nav.show {
    display: block;
}
header{
	width:100%;
	padding:20px 50px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#020824;
	color:#fff;
	color:#fff;
	position:fixed;
	top: 0;
    z-index: 100;
}

header nav a{
	margin-left:20px;
	color:white;
	font-weight:700;
	transition:0.5;
	text-decoration: none; 
}
header nav a:hover{
	color:lightblue;
}
.logo{
	display:flex;
	align-items:center;
	gap:10px;
}
.logo img {
    height: 65px; 
    width: 85px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.about-section{
	    padding: 50px;
		margin-top:140px;
}

.about-box{
	display:flex;
	padding:20px 50px;
	background:white;
	gap:20px;
	border-radius:20px;
	flex-wrap:wrap;
}
.about-text{
	flex: 1 1 50%;
}
.about-text h2{
	font-size:28px;
	margin-bottom:15px;
	font-weight:700;
}
.about-text p {
	font-size:18px;
	margin-bottom:15px;
	line-height:1.6;
}
.about-image {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 100%;
    height: 100%;
    max-height: 450px; 
    object-fit: cover;
    border-radius: 50px;
}

/* OWNER SECTION */
.owner-section {
    padding: 60px 50px;
    background: #ffffff;
}

.owner-box {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* LEFT TEXT */
.owner-details {
    flex: 1 1 65%;
}

.owner-details h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.owner-details p {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
    color: #333;
}

/* RIGHT IMAGE */
.owner-image {
    flex: 1 1 30%;
    text-align: center;
}

.owner-image img {
    width: 100%;
    max-width: 260px;
    border-radius: 8px;
    object-fit: cover;
}

/* CAPTION */
.owner-caption {
    margin-top: 10px;
}

.owner-caption h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.owner-caption span {
    font-size: 13px;
    color: #666;
}


/* ACHIEVEMENT SECTION */
.achievement-section {
    margin-top: 50px;
    padding: 60px 40px;
    background: linear-gradient(90deg,#21c3ff,#6b76ff);
    color: white;
    position: relative;
}

.achievement-section::after {
    content:"";
    position:absolute;
    bottom:-60px;
    left:0;
    width:100%;
    height:120px;
    background:white;
    transform:skewY(-4deg);
}

.achievement-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

/* LEFT SIDE */
.achievement-left {
    flex: 1 1 45%;
	text-align: center;
}

.achievement-left h2,
.achievement-right h2 {
    
    margin-bottom: 55px;
    font-weight: 700;
    letter-spacing: 1px;
}

.achievement-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.ach-btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 8px;
    background: white;
    font-size: 22px;
    cursor: pointer;
    color: #333;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.ach-content {
    background: rgba(255,255,255,0.1);
    padding: 30px;
    width: 360px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.ach-quote {
    font-size: 40px;
    opacity: 0.2;
    position: absolute;
    top: -10px;
    left: 10px;
}

.ach-divider {
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin: 15px 0;
}

#ach-year {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.ach-sub {
    font-size: 14px;
    opacity: 0.9;
}

.ach-dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.ach-dots .dot {
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
}

.ach-dots .dot.active {
    background: white;
}

/* RIGHT SIDE */
.achievement-right {
    flex: 1 1 45%;
}

.achievement-right ul {
    list-style: none;
    padding: 0;
	text-align: left;
}

.achievement-right li {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.achievement-right li span {
    display: block;
    font-size: 14px;
    opacity: 0.8;
}


@media (max-width: 900px) {
    .achievement-container {
        flex-direction: column;
        text-align: center;
    }
}

.experience-section {
    padding: 80px 0;
    background: linear-gradient(to bottom, #ffffff, #f7f7f7);
    text-align: center;
    font-family: Arial, sans-serif;
}

.experience-section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.experience-section .subtitle {
    max-width: 700px;
    margin: 0 auto 50px;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;
    padding: 0 40px;
}

.feature-box {
    text-align: left;
    max-width: 420px;
    margin: auto;
}

.feature-box .icon {
    width: 60px;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
}
.key-resources {
    text-align: center;
    padding: 60px 0;
    font-family: 'Poppins', sans-serif;
}

.key-resources h2 {
    font-size: 32px;
    font-weight: 600;
}

.underline {
    width: 60px;
    height: 4px;
    background: #008CFF;
    margin: 10px auto 40px;
    border-radius: 10px;
}

.kr-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.kr-card {
    width: 330px;
    background: #ffffff;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.kr-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.kr-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.kr-card h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.role {
    font-size: 15px;
    color: #777;
}

.line {
    width: 40px;
    height: 3px;
    background: #008CFF;
    margin: 10px auto;
}

.company {
    font-size: 14px;
    color: #999;
}

.stats-section {
    background: url('your-bg-image.jpg') center/cover no-repeat;
    padding: 80px 0;
    position: relative;
    background-image: url("image/src/galaxy.png");
    text-align: center;
}

.stats-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.stats-container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.stat-box h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 700;
}

.section-title {
    text-align: center;
}

.milestone-container {
    width: 100%;
    padding: 50px 20px;
    background: #f8f8f8;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

/* Middle Line */
.timeline::after {
    content: "";
    position: absolute;
    width: 4px;
    background: #1e1e1e;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Timeline item */
.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 30px;
    box-sizing: border-box;
}

/* Left side */
.timeline-item.left {
    left: 0;
    text-align: right;
}

/* Right side */
.timeline-item.right {
    left: 50%;
}

/* DOT */
.timeline-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #1e1e1e;
    border-radius: 50%;
    top: 30px;
    z-index: 10;
}

.timeline-item.left::before {
    right: -10px;
}

.timeline-item.right::before {
    left: -10px;
}

/* Content box */
.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.year {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .timeline-item {
        width: 100%;
        text-align: center !important;
        left: 0 !important;
        padding-left: 40px;
        padding-right: 40px;
    }

    .timeline-item::before {
        left: 50% !important;
        transform: translateX(-50%);
    }

    .timeline::after {
        left: 50%;
    }
}

.footer {
    background: #1d1d26;
    color: #e7e7e7;
    padding: 60px 50px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.footer-col h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 8px;
    color: #c5c5c5;
}

.footer-col ul li a {
    margin-left: 20px;
    color: white;
    font-weight: 200;
    transition: 0.5s;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    border-top: 1px solid #3b3b3b;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
}
/* ABOUT SECTION MOBILE RESPONSIVE */
@media (max-width: 768px) {
    

    
    .about-section {
        padding: 20px 15px;
        margin-top: 120px; 
    }

    .about-box {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .about-text, .about-image {
        flex: 1 1 100%;
        text-align: center;
    }

    .about-text h2 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 16px;
    }

    .about-image img {
        width: 100%;
        max-height: 300px;
        border-radius: 30px;
    }

    /* Owner Section */
    .owner-section {
        padding: 30px 15px;
    }

    .owner-box {
        flex-direction: column;
        padding: 15px 20px;
        gap: 15px;
    }

    .owner-image {
        flex: 1 1 100%;
    }

    .owner-image img {
        height: auto;
        max-height: 400px;
        width: 100%;
        border-radius: 30px;
    }

    .owner-details {
        flex: 1 1 100%;
        padding: 10px 0;
        text-align: center;
    }

    .owner-details h3 {
        font-size: 20px;
    }

    .owner-details p {
        font-size: 14px;
    }

    /* Achievement Section */
    .achievement-section {
        padding: 40px 20px;
    }

    .achievement-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .achievement-left, .achievement-right {
        flex: 1 1 100%;
    }

    .achievement-left h2,
    .achievement-right h2 {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .ach-content {
        width: 100%;
        padding: 20px;
    }

    .ach-dots {
        justify-content: center;
    }

    .achievement-right li {
        font-size: 14px;
    }
        header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: flex-start;
    }
 .timeline::after {
        left: 20px; 
        transform: none; 
    }

    .timeline-item {
        width: 100%;
        text-align: left !important;
        padding-left: 60px; 
        padding-right: 20px;
        left: 0 !important;
    }

    .timeline-item::before {
        left: 20px !important; 
        transform: none;
    }

    .timeline-item.left,
    .timeline-item.right {
        left: 0 !important; 
        text-align: left !important; 
    }
    
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
        flex-direction: row; /* Keep logo and button on the same line */
        justify-content: space-between;
        align-items: center;
        position: fixed; /* Keep header fixed */
        width: 100%;
        top: 0;
        z-index: 100;
    }

    /* Show hamburger menu button */
    .menu-btn {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
        z-index: 110;
    }

    /* Hide nav by default */
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #020824;
        position: fixed;
        top: 60px;  /* Just below the header */
        left: 0;
        padding: 10px 0;
        gap: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        border-top: 1px solid #333;
        z-index: 105;
    }

    /* Show nav when toggled */
    nav.show {
        display: flex;
    }

    /* Nav links styling */
    header nav a {
        margin: 10px 20px;
        font-weight: 700;
        color: white;
        display: block;
        text-align: center;
    }

    /* Logo sizing */
    .logo img {
        height: 50px;
        width: 65px;
    }

    .logo span {
        font-size: 20px;
    }
}
