* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:lightblue ;
    padding-top: 80px; 
}

header {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020824;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
}

header nav a {
    margin-left: 20px;
    color: white;
    font-weight: 500;
    transition: color 0.5s;
    text-decoration: none;
}

header nav a:hover {
    color: lightblue;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 65px; 
    width: 85px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.contact-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 40px 0;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.contact-box {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

form {
    flex: 1;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0078ff;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #005ecb;
}

.contact-info {
    flex: 1;
}

.contact-info h3 {
    margin-bottom: 15px;
}

.contact-info p {
    margin: 10px 0;
    color: #333;
    font-size: 15px;
}

.map {
    margin-top: 20px;
}


/* FOOTER */
.footer {
    background: #1d1d26;
    color: #e7e7e7;
    padding: 60px 50px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.footer-col h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 8px;
    color: #c5c5c5;
}
.footer-col ul li a{
    margin-left:20px;
	color:white;
	font-weight:200;
	transition:0.5;
	text-decoration: none;
}
.footer-bottom {
    text-align: center;
    padding: 20px 0 0;
    border-top: 1px solid #3b3b3b;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .welcome-section, .space-section, .company-box, .future-focus {
        flex-direction: column;
    }
    .mission-box, .welcome-text, .space-video, .space-text, .company-text, .company-image, .future-left, .future-right {
        flex: 1 1 100%;
    }
    .stats {
        flex-wrap: wrap;
        gap: 20px;
    }
}
