* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    padding-top: 80px; 
}

header {
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020824;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
}

header nav a {
    margin-left: 20px;
    color: white;
    font-weight: 500;
    transition: color 0.5s;
    text-decoration: none;
}

header nav a:hover {
    color: lightblue;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 65px; 
    width: 85px; 
    border-radius: 50%; 
    object-fit: cover; 
}


.logo span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.news-section {
    padding: 50px 20px;
    text-align: center;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.news-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-card .content {
    padding: 15px;
}

.news-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.news-card .date {
    font-size: 14px;
    color: gray;
}

/* Hover effect */
.news-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.footer {
    background: #1a1a1a;
    color: #ddd;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-logo img {
    width: 60px;
    margin-bottom: 10px;
}

.footer-col h3 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-col ul {
    list-style: none;
    line-height: 1.8;
}

.footer-col ul a {
    color: #ddd;
    text-decoration: none;
}

.footer-col ul a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
}

/* ------- Responsive -------- */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    nav a {
        margin: 0 10px;
    }

    .item {
        width: 90%;
    }

    section {
        width: 95%;
    }
}